<div class="wrapper">

  <div class="inner" style="padding: 20px; background: #fff; max-width: 850px; margin: auto; display: flex;">
      <div class="image-holder" style="width: 50%;">
        <img src="https://firebasestorage.googleapis.com/v0/b/calculadora-93291.appspot.com/o/img%2Flance-reis-xd8ZoLQZ1G4-unsplash.jpg?alt=media&token=77252b41-5e59-4e6e-bb75-2126ae4f57bc"
        alt="img" />

        <div class="Login">
          <p> ¿No tienes una cuenta ? </p>
          <button class="log-in" (click)="CrearCuenta()">Crear Cuenta</button>

        </div>

      </div>
      <form style="width: 50%; padding-top: 36px; padding-left: 45px; padding-right: 45px;">
        <h3 style="text-transform: uppercase; font-size: 25px; font-family: 'Poppins-SemiBold'; text-align: center; margin-bottom: 28px;">Iniciar Sesión</h3>

        <div class="form-group" style="display: flex; margin: 15% 4%;">
          <div class="form-wrapper" style="position: relative;">
            <i class="fa fa-key" style="position: absolute; bottom: 30px; right: 0;"></i>
          </div>
          <input class="form-control" id="txt-input" type="email" style="width: 100%;" placeholder="@UsuarioDemo: admin" [value]="Correo_Usuario"
          (input)="updateUsername($event)" required />
        </div>

        <div class="form-group" style="display: flex;  margin: 15% 4%;">
          <div class="form-wrapper" style="position: relative;">
            <i class="fa fa-key" style="position: absolute; bottom: 30px; right: 0;"></i>
          </div>
          <input class="form-control" type="password" id="pwd" name="password" style="width: 100%;" placeholder="@ContraseñaDemo: password"
          [value]="Contrasena_Usuario" (input)="updatePassword($event)" required />
        </div>
        <button class="log-in" style="width: 100%;" (click)="IniciarSesion()" routerLink="Sistema/Inicio">
          Iniciar Sesión
        </button>

</form>
</div>

<p *ngIf="loginFailed" class="error">
  Credenciales inválidas. Inténtalo de nuevo.
</p>
</div>
