<div class="container rounded bg-white mt-5 mb-5" style="overflow-y: scroll; height: 55vh;">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="300px"
          height="300px"
          [src]="url_imagen"
        />
        <span class="font-weight-bold">{{ Nombre_Usuario }}</span>
        <span class="text-black-50"> {{ Correo_Usuario }} </span>
        <span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Actualizar Perfil</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Nombre Usuario</label>
            <input
              type="text"
              class="form-control"
              placeholder="first name"
              [(ngModel)]="Nombre_Usuario"
              value=""
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Correo Electronico</label>
            <input
              type="text"
              class="form-control"
              value=""
              [(ngModel)]="Correo_Usuario"
              placeholder=""
              disabled=""
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Apellido Paterno</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="ApellidoP_Usuario"
              placeholder=""
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Apellido Materno</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="ApellidoM_Usuario"
              placeholder=""
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Direccion </label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="Direccion_Usuario"
              placeholder=""
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Ciudad de Residencia</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="Ciudad_Usuario"
              placeholder=""
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Telefono</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="Telefono_Usuario"
              placeholder=""
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Contraseña Usuario</label>
            <input
              type="text"
              class="form-control"
              placeholder=""
              [(ngModel)]="Contrasena_Usuario"
              value=""
            />
          </div>
        </div>
        <!--
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="labels">Country</label><input type="text" class="form-control" placeholder="country"
              value="" />
          </div>
          <div class="col-md-6">
            <label class="labels">State/Region</label><input type="text" class="form-control" value=""
              placeholder="state" />
          </div>
        </div>
        -->
        <div class="mt-5 text-center">
          <button
            (click)="Guardar()"
            class="btn btn-primary profile-button"
            type="button"
          >
            Save Profile
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="p-3 py-5">
        <div
          class="d-flex justify-content-between align-items-center experience"
        >
          <input
            style="margin-top: 1rem"
            type="file"
            (change)="GuardarImagen($event)"
          />
          <img
            class="rounded-circle mt-5"
            width="300px"
            height="300px"
            *ngIf="imageURL"
            [src]="imageURL"
            alt="Imagen Subida"
          />
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Descripción</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="Descripcion_Usuario"
            placeholder="experience"
            value=""
          />
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Edad </label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="Edad_Usuario"
            placeholder="additional details"
            value=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
